nav {
  max-width: 1280px;
  height: 60px;
  margin: 0 auto;
  //   padding: 30px auto 0px auto;
  //   background-color: aqua;
  display: flex;
  justify-content: space-between;
  border-bottom: $site-white solid 2px;
  margin: 0 25px;
  //black nav text
  .nav-black {
    color: $site-white;
  }
  #black-logo {
    background-image: url(../assets/logo/logo-black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  //white nav text
  .nav-white {
    color: $site-white;
  }
  #white-logo {
    background-image: url(../assets/logo/logo-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .logo {
    // background-color: bisque;
    width: 92px;
    height: 42px;
  }
  .links {
    // background-color: bisque;
    min-width: 50%;
    height: 42px;
    align-self: center;
    display: flex;

    a,
    p {
      text-decoration: none;
      margin: auto;
      font-family: Gill;
    }
    p {
      color: $site-blue;
    }
  }
}
